<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Hello</h1>

{{#each users}}
    <div><b>Name:</b> {{this.name}}</div>
    <div><b>Age:</b> {{this.age}}</div>
    <div><b>Gender:</b> {{this.gender}}</div>
    <div><b>Email:</b> {{this.email}}</div>
    <div><b>Password:</b> {{this.password}}</div>
    <form action="/users/" method="post">
        <input type="submit" value="more">
    </form>
    <span>{{user_id}}</span>
    <hr>
{{/each}}

</body>
</html>